<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>John Carpenter Movies</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/babel">

      // List of movies component
      const Movies = (props) => {
        const listItems = props.movies.map(movie =>
          <li key={movie._id} id={movie._id} onClick={props.select}>
            {movie.title}
          </li>);

        return <ul>{listItems}</ul>;
      };

      // Detail component
      const Detail = (props) => {
        return <div>
          <hr />
          <h3>{props.movie.title} Details</h3>
            <form>
                title: <input type="text" name="title" value={props.movie.title || ""} onChange={props.handleChange} /><br/>
                year: <input type="text" name="year" value={props.movie.year || ""} onChange={props.handleChange}/><br/>
                runtime: <input type="text" name="runtime" value={props.movie.runtime || ""} onChange={props.handleChange} /><br/>
                director: <input type="text" name="director" value={props.movie.director || ""} onChange={props.handleChange} /><br/>
                starring: <input type="text" name="starring" value={props.movie.starring || ""} onChange={props.handleChange} /><br/>
            </form>
            <button name="clear" onClick={props.clear}>Clear</button>&nbsp;
            <button name="save" onClick={props.save}>Save</button>&nbsp;
        </div>;
      };

      // Main component
      const MovieApp = () => {
        
        // Initial State
        const [movies, setMovies] = React.useState(<%- JSON.stringify(movies) %>);
        const [currentMovie, setCurrentMovie] = React.useState({});

        // List click event handler function
        const select = (event) => {
          const found = movies.find((movie) => {
              return movie.title === event.target.innerText;
          });
          setCurrentMovie(found);
        }

        // Current movie reset function
        const clear = () => {
          setCurrentMovie({});
        }

        // Update state function
        const handleChange = (event) => {
          let newMovie = { ...currentMovie } ;
          newMovie[event.target.name] = event.target.value;

          // currentMovie state
          setCurrentMovie(newMovie);

          // movie state
          movies.find((movie, index) => {
            if (movie._id == newMovie._id) {
                movies[index] = newMovie;
                setMovies(movies);
            }
          })
        }

        // Save function
        const save = () => {
          if (!currentMovie.title) {
            return;
          }
          fetch("/api/movie/update?" + new URLSearchParams(currentMovie), {
            method: "POST",
            headers: { 'Content-Type': 'application/json' }
          })
          .then(res => res.json())
          .then((data) => {
              // if item has no _id, it wasn't previously saved in DB
              if (!currentMovie._id) {
                  currentMovie._id = data._id;
                  setCurrentMovie(currentMovie);
                  // update items list
                  let newMovies = [...movies];
                  newMovies.push(currentMovie);
                  setMovies(newMovies);
              }
          })
      }

        // Delete function

        // Return title, movie list, and details panel as app
        return (
          <div>
            <h1>John Carpenter Movies</h1>
            <Movies movies={movies} select={select}/>
            <Detail movie={currentMovie} handleChange={handleChange} clear={clear} save={save} />
          </div>
        )
      };

      // Render app in root container
      const container = document.getElementById('root');
      const root = ReactDOM.createRoot(container);
      root.render(<MovieApp />);
    </script>
  </body>
</html>
