body {
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
}

h1  {
    font-size: x-large;
    color: darkslategray;
}

p {
    font-size: medium;
}